@views.partials._head.template()

<body>
<div class="main-container fullscreen">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-7">
                <div class="text-center">
                    <img src="assets/images/logo.webp" alt="Tucume Logo">
                    <h1 class="display-1 text-secondary">Tucume - Cookies Policy</h1>
                    <div>
                        <p>The cookies page.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@views.partials._prefetchjs.template()

</body>

</html>